## Domain Understanding

    - NBFC (Non banking finance corporation)
        - Bajaj Finance
        - Not licensed for traditional form of banking
        - Goal to give loan to people who cant get from traditional banks due to their poor credit history
        - FLO (Field level Officer) (Documentation and verification)
            - Loan Application
            - Preliminary Checking
                - Initial Screening
                - KYC Verification
            - Credit Evaluation
            - Scoring Model
            - Field Investigation
            - Collateral Evaluation (Recovery: Farm)
            - Loan Approval
            - Credit Committee Review
            - Loan Structuring
        
        - Features
            - Personal Data
            - Beauro Data
            - Employment Status
            - Income
            - Zip Code
        

        - Residence Type
            - Years At Current Address (Not stable at a place) Person Can come if something goes wrong
    

    - Number Of Open Accounts  3
    - Number Of Closed Accounts 2
    - Inquiry Count 
            Credit Beaurou is central repo for loan Inquiry data.

    - Credit Utilization Ratio
        - Mohan Credit 10K , loan taken only 50k
            p : 0.5
        
        - Deliquent : not paid on said date
        - Months Since Last Dilinquency 

    - Loan Amount
        - Loan Purpose
            - Loan to Income Ratio (Matters)
            - Loan Amount : 50000 (taken given ur situation)
            - Processing Fees : 1000
            - GST : 800
            - Net Disbursement : 48200

        - Sactioned Amount may be greater or less than ur requirement

    - Days Past Due

In [6]:
# # Statement Of Work (SOW)

# Project Title : Developement of Credit Risk Model For Fish Finance

# Project Overview :  

#     Develop a Credit Risk Model
#         - categorizes loan application into poor , Average and Good ,Excellent

    
# Scope of work 
#     Phase 1 : Development and Implementation
#         1. Model Developement : Build a predictive model using Lauki Finance's dataset which includes historical loan data default indiators
#         2. Scorecard Creation: Develop a scoring system that categorizes credit score into poor, average , good and excellent
#         3. Streamlit UI Application : Develop a user-friendly interface where loan officers can input borrower demogrphics , loan details and bureau information 
#             to obtain predictions on default probabilities and credit ratings

In [7]:
!pip install statsmodels

Requirement already satisfied: statsmodels in /home/bhupendra/anaconda3/lib/python3.13/site-packages (0.14.4)
Requirement already satisfied: numpy<3,>=1.22.3 in /home/bhupendra/anaconda3/lib/python3.13/site-packages (from statsmodels) (2.1.3)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in /home/bhupendra/anaconda3/lib/python3.13/site-packages (from statsmodels) (1.15.3)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in /home/bhupendra/anaconda3/lib/python3.13/site-packages (from statsmodels) (2.2.3)
Requirement already satisfied: patsy>=0.5.6 in /home/bhupendra/anaconda3/lib/python3.13/site-packages (from statsmodels) (1.0.1)
Requirement already satisfied: packaging>=21.3 in /home/bhupendra/anaconda3/lib/python3.13/site-packages (from statsmodels) (24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/bhupendra/anaconda3/lib/python3.13/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/bhupendra/anaconda3/lib/python3.13/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/bhupendra/anaconda3/lib/python3.13/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.2)
Requirement already satisfied: six>=1.5 in /home/bhupendra/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas!=2.1.0,>=1.4->statsmodels) (1.17.0)

# Data Collection
Collect latest Bureau data from CIBIL Contact Wnada Mishra From Lauki Finance. She Said she can help in this data collection.

Data Columns Requested

    1. Number of open accounts
    2. Number of closed accounts
    3. Credit utilization Ratio
    4. Total DPD
    5. Delinquent Months
    6. Total Loan Months
    7. Enquiry Count

In [8]:
import pandas as pd

df_customers = pd.read_csv("dataset/customers.csv")

df_customers

,cust_id,age,gender,marital_status,employment_status,income,number_of_dependants,residence_type,years_at_current_address,city,state,zipcode
0,C00001,44,M,Married,Self-Employed,2586000,3,Owned,27,Delhi,Delhi,110001
1,C00002,38,M,Married,Salaried,1206000,3,Owned,4,Chennai,Tamil Nadu,600001
2,C00003,46,F,Married,Self-Employed,2878000,3,Owned,24,Kolkata,West Bengal,700001
3,C00004,55,F,Single,Self-Employed,3547000,1,Owned,15,Bangalore,Karnataka,560001
4,C00005,37,M,Married,Salaried,3432000,3,Owned,28,Pune,Maharashtra,411001
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,C49996,40,F,Single,Salaried,775000,2,Owned,11,Chennai,Tamil Nadu,600001
49996,C49997,39,M,Single,Salaried,3117000,0,Owned,9,Kolkata,West Bengal,700001
49997,C49998,45,F,Single,Self-Employed,1329000,0,Rented,27,Bangalore,Karnataka,560001
49998,C49999,42,F,Single,Self-Employed,533000,2,Mortgage,20,Hyderabad,Telangana,500001
49999,C50000,55,M,Married,Self-Employed,3144000,3,Owned,19,Mumbai,Maharashtra,400001

In [9]:
df_loans = pd.read_csv("dataset/loans.csv")
df_loans

,loan_id,cust_id,loan_purpose,loan_type,sanction_amount,loan_amount,processing_fee,gst,net_disbursement,loan_tenure_months,principal_outstanding,bank_balance_at_application,disbursal_date,installment_start_dt,default
0,L00001,C00001,Auto,Secured,3004000,2467000,49340.0,444060,1973600,33,1630408,873386,2019-07-24,2019-08-10,False
1,L00002,C00002,Home,Secured,4161000,3883000,77660.0,698940,3106400,30,709309,464100,2019-07-24,2019-08-15,False
2,L00003,C00003,Personal,Unsecured,2401000,2170000,43400.0,390600,1736000,21,1562399,1476042,2019-07-24,2019-08-21,False
3,L00004,C00004,Personal,Unsecured,2345000,1747000,34940.0,314460,1397600,6,1257839,1031094,2019-07-24,2019-08-09,False
4,L00005,C00005,Auto,Secured,4647000,4520000,90400.0,813600,3616000,28,1772334,1032458,2019-07-24,2019-08-02,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,L49996,C49996,Personal,Unsecured,610000,535000,10700.0,96300,428000,22,385199,178470,2024-07-22,2024-08-15,False
49996,L49997,C49997,Auto,Secured,4211000,3243000,64860.0,583740,2594400,15,1656484,1040735,2024-07-22,2024-07-29,False
49997,L49998,C49998,Home,Secured,4097000,3740000,74800.0,673200,2992000,37,912691,355461,2024-07-22,2024-07-25,False
49998,L49999,C49999,Home,Secured,1871000,1630000,32600.0,293400,1304000,37,300035,179453,2024-07-22,2024-07-29,False
49999,L50000,C50000,Home,Secured,8278000,6266000,125320.0,1127880,5012800,38,1619689,1363874,2024-07-22,2024-08-08,False

In [10]:
df_bureau = pd.read_csv("dataset/bureau_data.csv")
df_bureau

,cust_id,number_of_open_accounts,number_of_closed_accounts,total_loan_months,delinquent_months,total_dpd,enquiry_count,credit_utilization_ratio
0,C00001,1,1,42,0,0,3,7
1,C00002,3,1,96,12,60,5,4
2,C00003,2,1,82,24,147,6,58
3,C00004,3,0,115,15,87,5,26
4,C00005,4,2,120,0,0,5,10
...,...,...,...,...,...,...,...,...
49995,C49996,4,2,165,1,6,8,24
49996,C49997,4,0,161,0,0,4,91
49997,C49998,4,1,42,0,0,7,38
49998,C49999,1,2,42,9,47,4,17
49999,C50000,2,0,65,13,66,7,28

In [11]:
df_customers.columns = df_customers.columns.str.strip()
df_customers.columns = df_customers.columns.str.strip()

df_loans.columns = df_loans.columns.str.strip()
df_loans.columns = df_loans.columns.str.lower()

df_bureau.columns = df_bureau.columns.str.strip()
df_bureau.columns = df_bureau.columns.str.lower()

print(df_bureau.shape)
print(df_loans.shape)
print(df_customers.shape)

(50000, 8)
(50000, 15)
(50000, 12)

In [12]:
df_customers.describe()

,age,income,number_of_dependants,years_at_current_address,zipcode
count,50000.000000,5.000000e+04,50000.000000,50000.000000,50000.000000
mean,39.550980,2.640898e+06,1.939540,16.018440,419090.860000
std,9.847752,2.629441e+06,1.535517,8.926489,168982.674047
min,18.000000,0.000000e+00,0.000000,1.000000,110001.000000
25%,33.000000,8.030000e+05,0.000000,8.000000,302001.000000
50%,40.000000,1.892000e+06,2.000000,16.000000,400001.000000
75%,46.000000,3.332250e+06,3.000000,24.000000,560001.000000
max,70.000000,1.199900e+07,5.000000,31.000000,700001.000000

In [13]:
# df = pd.merge(df_customers,df_loans,on="cust_id")
df_customers.columns

Index(['cust_id', 'age', 'gender', 'marital_status', 'employment_status',
       'income', 'number_of_dependants', 'residence_type',
       'years_at_current_address', 'city', 'state', 'zipcode'],
      dtype='object')

In [14]:
df = pd.merge(df_customers,df_loans,on="cust_id")

In [15]:
df.isna().sum()

cust_id                         0
age                             0
gender                          0
marital_status                  0
employment_status               0
income                          0
number_of_dependants            0
residence_type                 62
years_at_current_address        0
city                            0
state                           0
zipcode                         0
loan_id                         0
loan_purpose                    0
loan_type                       0
sanction_amount                 0
loan_amount                     0
processing_fee                  0
gst                             0
net_disbursement                0
loan_tenure_months              0
principal_outstanding           0
bank_balance_at_application     0
disbursal_date                  0
installment_start_dt            0
default                         0
dtype: int64

In [16]:
df.shape

(50000, 26)

In [17]:
df = pd.merge(df, df_bureau,on="cust_id")
df.head(3)

,cust_id,age,gender,marital_status,employment_status,income,number_of_dependants,residence_type,years_at_current_address,city,...,disbursal_date,installment_start_dt,default,number_of_open_accounts,number_of_closed_accounts,total_loan_months,delinquent_months,total_dpd,enquiry_count,credit_utilization_ratio
0,C00001,44,M,Married,Self-Employed,2586000,3,Owned,27,Delhi,...,2019-07-24,2019-08-10,False,1,1,42,0,0,3,7
1,C00002,38,M,Married,Salaried,1206000,3,Owned,4,Chennai,...,2019-07-24,2019-08-15,False,3,1,96,12,60,5,4
2,C00003,46,F,Married,Self-Employed,2878000,3,Owned,24,Kolkata,...,2019-07-24,2019-08-21,False,2,1,82,24,147,6,58

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 33 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   cust_id                      50000 non-null  object
 1   age                          50000 non-null  int64
 2   gender                       50000 non-null  object
 3   marital_status               50000 non-null  object
 4   employment_status            50000 non-null  object
 5   income                       50000 non-null  int64
 6   number_of_dependants         50000 non-null  int64
 7   residence_type               49938 non-null  object
 8   years_at_current_address     50000 non-null  int64
 9   city                         50000 non-null  object
 10  state                        50000 non-null  object
 11  zipcode                      50000 non-null  int64
 12  loan_id                      50000 non-null  object
 13  loan_purpose                 50000 non-null  object
 14  loan_type                    50000 non-null  object
 15  sanction_amount              50000 non-null  int64
 16  loan_amount                  50000 non-null  int64
 17  processing_fee               50000 non-null  float64
 18  gst                          50000 non-null  int64
 19  net_disbursement             50000 non-null  int64
 20  loan_tenure_months           50000 non-null  int64
 21  principal_outstanding        50000 non-null  int64
 22  bank_balance_at_application  50000 non-null  int64
 23  disbursal_date               50000 non-null  object
 24  installment_start_dt         50000 non-null  object
 25  default                      50000 non-null  bool
 26  number_of_open_accounts      50000 non-null  int64
 27  number_of_closed_accounts    50000 non-null  int64
 28  total_loan_months            50000 non-null  int64
 29  delinquent_months            50000 non-null  int64
 30  total_dpd                    50000 non-null  int64
 31  enquiry_count                50000 non-null  int64
 32  credit_utilization_ratio     50000 non-null  int64
dtypes: bool(1), float64(1), int64(19), object(12)
memory usage: 12.3+ MB

In [19]:
df['default'] = df['default'].astype(int)

In [20]:
df["default"].value_counts()

default
0    45703
1     4297
Name: count, dtype: int64

In [23]:
df.residence_type.unique()

array(['Owned', 'Mortgage', 'Rented', nan], dtype=object)

In [25]:
mode_residence = df.residence_type.mode()[0]
mode_residence

'Owned'

In [26]:
df.residence_type.fillna(mode_residence, inplace=True)

In [28]:
df.residence_type.fillna(mode_residence,inplace=True)
df.residence_type.unique()

array(['Owned', 'Mortgage', 'Rented'], dtype=object)

In [ ]:
df_test